PORT=

# cors
CORS_ORIGIN=*
CLIENT_URL=

# environment
NODE_ENV=development

# jwt
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_SECRET_EXPIRE=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET_EXPIRE=

# database
# mongodb
MONGO_URI=
# MONGO_URI=mongodb://root:password@localhost:27017/

# redis

#cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# nodemailer
EMAIL_SERVICE=
EMAIL_PORT=
EMAIL_SECURE=  # true for 465, false for other ports # true in production  
EMAIL_USER=
EMAIL_PASS=